#header > .button {
    margin-bottom: 0px;
}

#about-me {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-self: center;
    background-color: #B692C2;
}

h2 {
    text-align: center;
    color: white;
    font-family: 'Satisfy';
    font-size: 30px;
    font-weight: 100;
}

#about-me-container {
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    column-gap: 50px;
    width: auto;
    margin: 20px 80px;
    height: 300px;
}

#about-me-image {
    background-image: url('../images/handsome-alonzo.jpeg'); /* Replace with your image path */
    background-size: cover; /* Ensures the image covers the entire div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; /* Text color for visibility */
    font-size: 20px;
    font-weight: bold;
    height: 100%;
    width: 100%;
    border-radius: 13px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

#about-me-info {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-container {
    height: auto;
    width: 100%;
    border-radius: 30px;
    display: flex;
    align-content: center;
    background-color: #694F8E;
    gap: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.info-title {
    font-family: 'Poppins';
    font-weight: bold;
    color: white;
    font-size: 15px;
    padding: 15px 0px;
    padding-left: 30px;
}

.info-text {
    font-family: 'Satisfy';
    background-color: white;
    border-radius: 30px;
    margin: 7px;
    align-content: center;
    flex-grow: 1;
    text-align: center;
}

#letter {
    width: 100%;
    padding: 20px 0px;
    background-color: #694F8E;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#letter button {
    margin: 20px 0px;
    background-color: #B692C2;
}

#memories {
    background-color: #E3A5C7;
    width: 100%;
    padding: 20px 80px;
    display: flex;
    flex-direction: column;
}

#memories-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 35px;
    margin: 20px 0px;
}

.memory-container {
    width: 250px;
    height: 250px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.memory-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#songs {
    background-color: #F8E7F6;
    width: 100%;
    padding: 20px 80px;
    display: flex;
    flex-direction: column;
}

#songs h2 {
    color: #B692C2;
}

#songs > p, #header > p {
    color: #B692C2;
    text-align: center;
    font-style: italic;
}

#songs-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 35px;
    margin: 20px 0px;
}

.song-container {
    min-width: 200px;
    min-height: 80px;
    background-color: #E3A5C7;
    border-radius: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.song-container p {
    font-family: 'Poppins';
    margin: 0;
    color: white;
    font-size: 30px;
}

.song-container:hover {
    background-color: #ac7b96;
}

#question {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 80px;
    width: 100%;
}

#question::before {
    content: "";
    position: absolute;
    top: -10;
    left: -1;
    width: 100%;
    height: 200px;
    background: url('../images/Page\ 1\ -\ Background\ 1.png') center/cover no-repeat;
    opacity: 0.2; /* Adjust transparency (0 = fully transparent, 1 = fully visible) */
    z-index: -1; /* Ensures it stays behind the content */
}

#question h2 {
    color: rgb(182, 146, 194);
    font-weight: bolder;
    margin-top: 48px;
}

#question-container {
    display: flex;
    width: 50%;
    justify-content: space-around;
    margin: 30px 0px;
}

.button {
    width: 220px;
    background-color: #694F8E;
    color: white;
    font-family: 'Satisfy', cursive;
    font-size: 20px;
    border: none;
    padding: 5px 40px;
    margin-bottom: 48px;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.button:hover, #letter button:hover {
    background-color: #563D7C;
}